
        <!-- SCROLL-TO-TOP -->
        <div class="scrollToTop">
                <span class="arrow"><i class="ti ti-arrow-narrow-up fs-20"></i></span>
        </div>
        <div id="responsive-overlay"></div>

        <!-- POPPER JS -->
        <script src="@Url.Content("~/assets/libs/@popperjs/core/umd/popper.min.js")"></script>

        <!-- BOOTSTRAP JS -->
        <script src="@Url.Content("~/assets/libs/bootstrap/js/bootstrap.bundle.min.js")"></script>

        <!-- NODE WAVES JS -->
        <script src="@Url.Content("~/assets/libs/node-waves/waves.min.js")"></script>

        <!-- SIMPLEBAR JS -->
        <script src="@Url.Content("~/assets/libs/simplebar/simplebar.min.js")"></script>
        <script src="@Url.Content("~/assets/js/simplebar.js")"></script>

        <!-- Auto Complete JS -->
        <script src="@Url.Content("~/assets/libs/@tarekraafat/autocomplete.js/autoComplete.min.js")"></script>

        <!-- COLOR PICKER JS -->
        <script src="@Url.Content("~/assets/libs/@simonwep/pickr/pickr.es5.min.js")"></script>

        <!-- Flat PICKER JS -->
        <script src="@Url.Content("~/assets/libs/flatpickr/flatpickr.min.js")"></script>

        <!-- DEFAULTMENU JS -->
        <script src="@Url.Content("~/assets/js/defaultmenu.js")"></script>